## Task 1 - SQL

### Build SparkSession:

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('SparkSQL').getOrCreate()

22/06/15 02:55:34 WARN Utils: Your hostname, abdo-Latitude-E6540 resolves to a loopback address: 127.0.1.1; using 192.168.1.9 instead (on interface wlp3s0)
22/06/15 02:55:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/15 02:55:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Read the json file:

In [3]:
sample_df= spark.read.format('json')\
.option('infereSchema', 'true')\
.load("DataFrames_sample.json")

### Display the schema:

In [4]:
sample_df.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

In [5]:
sample_df.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all the data when "Model" equal "MacBook Pro":

In [6]:
sample_df.filter(sample_df['Model']=='MacBook Pro').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create Table:

In [7]:
sample_df.createOrReplaceTempView('tableview')

### Display "RAM"column and count "RAM" column:

In [8]:
spark.sql("SELECT RAM FROM tableview").show()
spark.sql("SELECT count(RAM)  FROM tableview").show()

+----+
| RAM|
+----+
|16GB|
| 8GB|
| 8GB|
|64GB|
+----+

+----------+
|count(RAM)|
+----------+
|         4|
+----------+

### Get all columns when "Year" column equal "2015"

In [9]:
spark.sql("select * from tableview where Year=2015").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [10]:
spark.sql("select * from tableview where Model like 'M%' ").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [11]:
spark.sql("select * from tableview where Model='MacBook Pro' ").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [12]:
spark.sql("select * from tableview where RAM='8GB' and Model='MacBook' ").show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [13]:
spark.sql("select * from tableview where D>=8 and Model='iMac' ").show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [14]:
test1_df =df = spark.read.format('csv')\
.option("header", "true")\
.option('infereSchema', 'true')\
.load("test1.csv")

In [15]:
test1_df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Display Salary of the people less than or equal to 20000

In [16]:
test1_df.createOrReplaceTempView('table')

In [17]:
spark.sql("select * from table where Salary<=20000 ").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [18]:
spark.sql("select * from table where Salary<=20000 and Salary>=15000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [19]:
test3_df= spark.read.format('csv')\
.option("header", "true")\
.option('infereSchema', 'true')\
.load("test3.csv")

### Display dataset

In [20]:
test3_df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [21]:
test3_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: string (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [22]:
test3_df.createOrReplaceTempView('test3table')

### Group by "Name" column and using avg function on "Name" column

In [23]:
spark.sql("select Name,AVG(Salary) from test3table group by Name").show()

+---------+------------------+
|     Name|       avg(Salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [24]:
spark.sql("select Departments,sum(Salary) from test3table group by Departments").show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|    15000.0|
|    Big Data|    15000.0|
|Data Science|    43000.0|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [25]:
spark.sql("select Departments,avg(Salary) from test3table group by Departments").show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [26]:
spark.sql("select Departments,avg(Departments) from test3table group by Departments").show()

+------------+----------------+
| Departments|avg(Departments)|
+------------+----------------+
|         IOT|            null|
|    Big Data|            null|
|Data Science|            null|
+------------+----------------+

Group by "Departments" column and using count function on "Departments" column:

In [27]:
spark.sql("select Departments,count(Departments) from test3table group by Departments").show()

+------------+------------------+
| Departments|count(Departments)|
+------------+------------------+
|         IOT|                 2|
|    Big Data|                 4|
|Data Science|                 4|
+------------+------------------+

### Apply agg to using sum function get the total of salaries

In [28]:
test3_df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|    73000.0|
+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [29]:
df_iti= spark.read.format("csv")\
.option("header", "true")\
.option("inferSchema", "true")\
.load("ITI_data.csv")

In [30]:
df_iti.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [31]:
df_iti.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

### OneHotEncoder

In [32]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.feature import VectorAssembler

In [33]:
df_iti.dtypes

[('Ship_name', 'string'),
 ('Cruise_line', 'string'),
 ('Age', 'int'),
 ('Tonnage', 'double'),
 ('passengers', 'double'),
 ('length', 'double'),
 ('cabins', 'double'),
 ('passenger_density', 'double'),
 ('crew', 'double')]

In [34]:
categoricalCols = [field for (field, dataType) in df_iti.dtypes
                  if dataType == 'string']

In [35]:
categoricalCols

['Ship_name', 'Cruise_line']

In [36]:
indexOutputCols = [x + "_Index" for x in categoricalCols]
indexOutputCols

['Ship_name_Index', 'Cruise_line_Index']

In [37]:
oheOutputCols = [x + "_OHE" for x in categoricalCols]
oheOutputCols

['Ship_name_OHE', 'Cruise_line_OHE']

In [38]:
stringIndexer = StringIndexer(inputCols=categoricalCols,
                              outputCols=indexOutputCols,
                             handleInvalid='skip')

oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)

In [39]:
numericCols = [field for (field,dataType) in df_iti.dtypes
              if ((dataType=='double')&(field!='crew'))]
numericCols

['Tonnage', 'passengers', 'length', 'cabins', 'passenger_density']

###Use VectorAssembler to merge all columns into one column:

In [40]:
assemblerInputs = oheOutputCols + numericCols
assemblerInputs

['Ship_name_OHE',
 'Cruise_line_OHE',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density']

In [41]:
vecAssembler = VectorAssembler(inputCols=assemblerInputs,outputCol='features')

### Create a Linear Regression Model

In [42]:
from pyspark.ml.regression import LinearRegression

In [43]:
lr = LinearRegression(featuresCol='features',
                      labelCol='crew',
                      predictionCol='prediction')

### Creating a Pipeline

In [44]:
from pyspark.ml import Pipeline

In [45]:
pipeline = Pipeline(stages=[stringIndexer,oheEncoder,
                           vecAssembler,lr])

In [46]:
model = pipeline.fit(df_iti)
transformed_df= model.transform(df_iti)
transformed_df.select(['crew','prediction']).show(100)

22/06/15 02:55:55 WARN Instrumentation: [2148da7e] regParam is zero, which might cause numerical instability and overfitting.
22/06/15 02:55:55 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
22/06/15 02:55:55 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.ForeignLinkerBLAS
22/06/15 02:55:55 WARN InstanceBuilder$NativeLAPACK: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK
22/06/15 02:55:55 WARN Instrumentation: [2148da7e] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.

+-----+------------------+
| crew|        prediction|
+-----+------------------+
| 3.55|3.5541866916165468|
| 3.55|3.5541866916165468|
|  6.7|6.6957250179040635|
| 19.1|19.095339688101586|
| 10.0| 9.995851517969395|
|  9.2| 9.195728211725061|
|  9.2| 9.195728211725061|
|  9.2| 9.195720296380955|
|  9.2| 9.195728211725061|
| 11.5|11.335061021261197|
| 11.6|11.595551717930178|
|  6.6|  6.59573976938205|
|  9.2| 9.195728211725061|
|  9.2| 9.195728211725061|
|  9.3| 9.265768308660508|
| 11.6|11.595551717930178|
| 10.3|10.296467252576111|
|  9.2| 9.195728211725061|
|  9.3| 9.615331839414043|
|  9.2| 9.195728211725061|
|10.29|10.113330012406816|
| 10.0|  9.99570457623265|
| 11.6|11.595552409568782|
| 11.5|11.495598808142322|
| 8.58| 8.580657509540199|
| 9.99| 9.991119290647717|
| 9.09|  9.09074422547926|
| 9.99| 9.991119290647717|
| 9.09| 9.090760528585758|
| 9.99| 9.991119290647717|
|  6.7| 6.700645098450654|
| 9.99| 9.991119290647717|
|  0.6|0.5998400378560049|
|  6.7| 6.700268361230009|
|  4.0| 4.001732765106681|
|  9.2|  9.20173574853369|
| 6.17|  6.17204793169914|
| 6.36| 6.361535277159131|
|10.68|10.681175011050914|
|10.68|10.681175011050914|
| 3.85|3.8514744835677526|
|  9.2| 9.201755784866855|
|  6.0| 6.001916080885575|
| 10.9|10.900200155806719|
| 7.66| 7.661626088455243|
| 6.36| 6.363174985488179|
| 5.45|5.4524022459018155|
| 9.21|  9.20501183725317|
|12.53|12.526756925556501|
|  9.0| 8.995518626123836|
| 9.45| 9.450044152855558|
| 9.45| 9.450025285186197|
|  6.0| 6.000330983615061|
|  8.0|   7.9997444654487|
| 5.57| 5.570320105834913|
|  5.3| 5.298771557185866|
| 8.42| 8.420171770250626|
|  4.6| 4.601203463027137|
| 6.44|6.4404397841120655|
| 5.88| 5.880303501645056|
| 5.88| 5.880303501645056|
| 5.88| 5.880303501645056|
| 5.61|  5.61026543533135|
| 6.12| 6.119479897982568|
| 5.31| 5.310273928197805|
|  8.0|  8.00867209476841|
|  7.0| 7.004774540253674|
|13.13|13.133647759409488|
|  7.0| 7.004821767282049|
| 5.35| 5.354047843548152|
| 9.87|  9.87409274072596|
|  7.4| 7.404391684479226|
| 2.97|2.9300202323161955|
|  7.6| 7.604756862882123|
|  4.7| 4.390705227972372|
| 11.0| 11.10157660642303|
| 6.14| 6.140837703803808|
|11.09|11.091512377019722|
| 11.0|11.450352977878701|
| 4.38| 4.427541987257801|
|  8.0| 8.001673529161113|
| 10.0|10.001523978150903|
|  6.3| 6.342536010630123|
| 13.0|11.806613540568915|
|  3.8|  4.57752573522847|
| 9.59|  9.66995632313014|
| 6.14| 6.088162285425572|
|  4.0|4.0057527158475175|
|  4.0|4.0057527158475175|
|  4.0|4.0057527158475175|
|  3.5|  3.49904740537502|
| 8.69| 8.689594136314806|
|  5.2| 5.199508817685011|
|  8.5| 8.499344710348321|
|  9.0| 8.999046184145211|
| 7.94| 7.938986727255987|
| 12.2|12.197879369798503|
| 11.0| 11.00073059198127|
|  9.0| 9.001265720854239|
| 12.0|12.310468199894917|
+-----+------------------+
only showing top 100 rows

In [47]:
from pyspark.ml.evaluation import RegressionEvaluator

In [48]:

evaluator = RegressionEvaluator(
    labelCol="crew", predictionCol="prediction", metricName="r2")

accuracy= evaluator.evaluate(transformed_df)
print("accuracy",accuracy)

accuracy 0.9970900453540211

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566